.create-job-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  text-align: center;
  background: "";
  font-family: Arial, sans-serif;
  margin-top: 20px;

  .button-to-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #dcddde;
    border: 1px dashed #007bff;
    border-radius: 2px;
    min-width: 50%;
    min-height: 130px;
    margin-bottom: 25px;

    #input-file {
      display: none;
    }

    label {
      color: #007bff;
      text-decoration: underline;
      padding: 5px;
      cursor: pointer;
    }
  }

  .uploaded-file {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;

    .icon-file {
      height: 50px;
      width: 50px;
      // font-size: 50px;

      * {
        color: #007bff;
      }
    }

    span {
      font-weight: 500;
      padding-left: 15px;
      @media (max-width: 767px) {
        font-size: $font-size-s;
      }
    }
  }

  .upload-button {
    margin-top: 10px;
    padding: 10px 30px;
    background: #007bff;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
}
