.website-container {
    height: 100vh;
    width: 100%;
    background-image: url("../../assets/images/mint-green-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .website-content {
        width: 60%;
        height: 100%;
        background-color: #f0f7f4;
        box-shadow: 12px 12px 12px 12px rgb(65 64 62 / 10%);
    }
}
