.landing-container {
    height: 100%;
    width: 100%;

    .landing-page {
        height: auto;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        .video-container {
            position: relative;
            overflow: hidden;
            height: 650px;
            width: calc(100%);

            video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .fixed-header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: $white;
            /* Set your desired background color */
            z-index: 100;
            /* Adjust the z-index as needed to ensure it appears above other content */
            /* Add any additional styling you want for your header */
        }

        .overlay-container {
            position: absolute;
            width: 100%;
            height: 650px;
            top: 85px;
            display: flex;
            justify-content: center;
            align-items: center;

            .center-text-overlay {
                text-align: center;
                color: $white;

                .header-text {
                    font-size: 64px;
                    font-family: $font-family-noto-serif;
                    font-weight: 900;
                    color: $white;
                    padding-bottom: 24px;
                    font-style: italic;
                }

                .tagline-text {
                    font-size: 36px;
                    font-family: $font-family-noto-serif;
                    font-weight: 600;
                    color: $white;
                    padding-bottom: 24px;
                    font-style: italic;
                }

                .get-started-btn {
                    width: 175px;
                    border-radius: 7.5px;
                    height: auto;
                    padding: 5px 10px;
                    background-color: $white;
                    color: black;
                    font-family: $font-family-noto-serif;
                    font-weight: 600;
                    color: $copper;
                    font-size: 20px;
                    margin: auto;
                    cursor: pointer;
                }

                .get-started-btn:hover {
                    color: $white;
                    background-color: $copper;
                }
            }
        }

        .footer {
            background-color: $theme-cyan;
            font-size: 15px;
            width: 100%;
            color: $white;
            font-family: $font-family-noto-serif;

            .footer-content-container {
                height: 225px;
                display: flex;

                .footer-logo {
                    flex: 1;
                    padding: 25px;
                    display: flex;

                    .logo {
                        height: 60px;
                        width: 60px;
                        border-radius: 50%;
                        margin: 15px;
                        cursor: pointer;
                    }

                    .logo-text {
                        font-size: 36px;
                        font-family: $font-family-dancing-script;
                        font-weight: 900;
                        color: $white;
                        margin-top: 20px;
                    }
                }

                .footer-content {
                    flex: 1;
                    padding: 20px;
                    display: flex;

                    .names-list {
                        flex: 1;
                        padding-left: 50px;

                        .text {
                            font-size: 20px;
                            color: $white;
                            margin-top: 10px;
                            cursor: pointer;
                        }

                        .text:hover {
                            text-decoration: underline;
                        }
                    }

                    .apps-list {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        padding-left: 50px;

                        a {
                            text-decoration: none;
                        }

                        .icon-text-view {
                            display: flex;

                            .app-icon {
                                height: 30px;
                                width: 30px;
                                margin: 10px;
                                cursor: pointer;
                            }

                            .app-icon :hover {
                                border-bottom: 1px solid white;
                            }


                            p {
                                margin: 0;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: $white;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            .bottom-container {
                height: 25px;
                display: flex;
                // justify-content: center;
                padding-left: 50px;
                align-items: center;

                .footer-text {
                    font-size: 16px;
                    color: $white;
                    margin-right: 10px;
                }
            }
        }

        h1 {
            font-size: 3rem;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 10px 20px;
            border-radius: 10px;
        }
    }
}