.terms-privacy-content-container {
    height: 60vh;
    width: 75vh;
    border-radius: 15px;

    .header-container {
        height: 60px;
        width: 75vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 4px 4px 12px 4px rgb(65 64 62 / 10%);
        position: fixed;

        .logo-layout {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding-left: 20px;
            height: 100%;

            .logo {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }

            .logo-text {
                font-size: 32px;
                font-family: "Dancing Script";
                font-weight: bolder;
                color: #ba745f;
            }
        }

        img {
            height: 40px;
            width: 40px;
            fill: $copper;
        }
    }

    .content-container {
        width: 100%;
        height: auto;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        text-align: justify;
        padding: 60px 25px 25px;
        font-family: $font-family-noto-serif;
        font-size: 18px;
        line-height: 24px;

        .content {
            margin: 20px 0;
            .header {
                font-family: $font-family-noto-serif;
                font-size: 24px;
                margin-bottom: 15px;
                text-decoration: underline;
                font-weight: 600;
            }
            span {
                font-family: $font-family-pacifico;
                font-size: 14px;
                line-height: 24px;
            }
        }
    }
}
