.custom-component {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: $font-family-dancing-script;

    &-image {
        flex: 1;
        padding: 10px;
        justify-content: flex-start;
        align-items: center;
        height: 100%;

        // Add styles specific to the image
        img {
            max-width: 100%;
            height: auto;
        }
    }

    &-content {
        flex: 1;
        padding: 40px;
        text-align: left;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 100%;

        &.right {
            text-align: right;
        }
    }

    &-header {
        font-weight: bolder !important;
        font-size: 32px;
        font-family: $font-family-dancing-script;
        color: $copper;
    }

    &-text {
        margin-top: 5px;
        font-size: 24px;
        font-family: $font-family-dancing-script;
        line-height: 30px;
        // color: $theme-cyan;
    }
}
