.back-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    max-height: 35px;
    padding-top: 15px;

    .back-logo {
        height: 30px;
        width: 30px;
    }

    .bold-text {
        font-size: 20px;
        font-weight: 500;
        color: #ba745f;
        margin: 0;
    }

    & .text-black {
        color: black;
        font-weight: 500;
        font-size: 18px;
    }
}