$white: #ffffff;
$black: #000;

$light-gray: #ece9e6;
$medium-gray: #dfdcd9;
$gray: #c1bebb;
$dark-grey: #41403e;

$red: #cc4a4a;

// pastel colors
$pastel-pink: #edb4d0;
$pastel-blue: #b4cfec;
$pastel-green: #d0edb4;
$pastel-lavender: #957dad;
$pastel-yellow: #faffc7;
$pastel-blue-green: #7bccb5;

$copper: #c99383;
$dark-copper: #b17a50;
$silver: #aaabab;
$gold: #cbb26b;
$beige: #f5f5dc;

$shadow: rgba($black, 0.05);
$smoke: rgba($black, 0.2);
$background-shadow: rgba(56, 47, 45, 0.7);

$purple: violet;
